<div class="user-form mx-auto">
  <div class="card">
    <h1 class="card-title text-center mt-3">Login</h1>
    <div class="card-body mx-5">
      <form action="/users/login" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" required />
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Login</button>
          <a href="/auth/facebook" class="btn btn-fb">
            <i class="fab fa-facebook"></i><span class="ms-2"></span>
            Login with Facebook
          </a>
          <a href="/auth/google" class="btn btn-google">
            <i class="fab fa-google"></i><span class="ms-2"></span>
            Login with Google
          </a>

        </div>
      </form>
      <hr />
      <small>
        Don't have an account? Here to
        <a href="/users/signup">Sign Up</a>
      </small>
    </div>
  </div>
</div>