.container {
  max-width: 720px;
}

.amount {
  font-size: 60px;
  color: #fc4445;
}

.total-amount {
  gap: 2rem;
}

.fas {
  width: 20px;
  font-size: large;
}

.list-group {
  border-radius: 25px;
}

.list-group-item {
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.list-head {
  width: 25%;
  gap: 1rem;
}

.receipt-btn {
  width: 25%;
}

.list-end {
  width: 40%;
}

.balance {
  font-size: 18px;
}

.edit-btn {
  font-size: large;
  background-color: #fff;
  color: rgba(0, 87, 146, 1);
  border: none;
}

form {
  margin: 0;
}

.delete-btn {
  background-color: #fff;
  color: #fc4445;
  border: none;
}
