html,
body {
  background-color: #f4f5f7;
}

nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn:focus {
  box-shadow: none;
}

.btn {
  background-color: rgba(0, 87, 146, 1);
  color: #fff;
  border: none;
}

.nav-btn {
  background-color: #fff;
  color: rgba(0, 87, 146, 1);
  border: 1px solid rgba(0, 87, 146, 1);
}

.fa-receipt {
  color: rgba(0, 87, 146, 1);
}

.alert {
  min-width: 540px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.alert-icon {
  margin-right: 5%;
}
